<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <style>

            body{
                background-color:  #c7ceb9;
            }

        </style>
    </head>
    <body layout:fragment="body">
        <h1>BIENVENIDO AL INDEX </h1>

        <div th:if="${sessionId != null}">
            <!--<p>Sesión activa: <strong th:text="${sessionId}"></strong></p>-->
            <input type="text" th:value="${sessionId}">
            <p>Sesión activa: <strong th:text="${username}"></strong></p>
        </div>
        <div th:if="${sessionId == null}">
            <p>Sesión no iniciada</p>
        </div>

        <!--        <div th:if="${username != null}">
                    <span class="text-white">Bienvenido, <strong th:text="${username}">Usuario</strong></span>
                </div>
        
                <div th:if="${sessionId != null}">
                    <form action="/movie/logout" method="get">
                        <button type="submit">Cerrar sesión</button>
                    </form>
                </div>-->

        <div class="container">
            <input type="hidden" >
            <table class="table table-striped-columns  table-hover table-striped table-responsive">
                <thead >

                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Roll</th>
                    </tr>
                </thead>
                <tbody class="table-dark" >
                    <tr th:each="pelicula : ${peliculas}"  >
                        <td th:text="${pelicula.id}" th:attr="data-id=${pelicula.id}" id="ddlidPelicula"></td>
                        <td> <image style="width: 100px" th:src="${pelicula.poster_path == null} ? 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png' : 'https://image.tmdb.org/t/p/w500' + ${pelicula.poster_path}">
                            <button id="btnCorazon" class="btnCorazon" th:if="${sessionId != null}" data-id="${pelicula.id}">
                                <span><i class="bi bi-heart-fill iconoCorazonLleno" style="display:none;"></i></span>
                                <span><i class="bi bi-heart iconoCorazonVacio"></i></span>
                            </button>
                        </td>
                        <td th:text="|${pelicula.release_date} ${pelicula.vote_average} ${pelicula.vote_count}|"></td>
                        <td th:text="|correo: ${pelicula.original_language} cel: ${pelicula.original_title} tel: ${pelicula.popularity}|"></td>

                        <td th:text="${pelicula.overview}" ></td>

                    </tr>
                </tbody>
            </table>

        </div>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
            $('.btnCorazon').each(function () {
            const boton = $(this);
            boton.find('.iconoCorazonLleno').hide();
            boton.find('.iconoCorazonVacio').show();

            boton.click(function () {
                boton.find('.iconoCorazonLleno').toggle();
                boton.find('.iconoCorazonVacio').toggle();
            });
        });

        $(".btnCorazon").click(function () {
            const mediaId = $(this).data("id");

            $.ajax({
                url: "/movie/favorito",
                type: "POST",
                data: { mediaId: mediaId },
                success: function (response) {
                    alert("Película marcada como favorita");
                },
                error: function (xhr) {
                    alert("Error: " + xhr.responseText);
                }
            });
        });
        
            let guestSessionId = /*[[${guestSessionId}]]*/ '';
            console.log("Guest session ID:", guestSessionId);
            });


        </script>
    </body>
</html>
